<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<h2>detail.html</h2>
<p th:text="${board}"></p>
<div th:if="${session.loginEmail == board.boardWriter}">
    <button onclick="req(1)">글수정</button>
</div>
<div th:if="${session.loginEmail == board.boardWriter or session.loginEmail == 'admin'}">
    <button onclick="req(2)">글삭제</button>
</div>
<div class="container mt-3">
    <div th:if="${session.loginEmail ne null}">
        <form action="/comment/save" method="post">
            <div id="comment-write" class="input-group mb-3">
                <input type="text" id="commentWriter" class="form-control" th:value="${session.loginEmail}" name="commentWriter" readonly>
                <input type="text" id="commentContents" class="form-control" placeholder="내용" name="commentContents">
                <input type="hidden" id="boardId" class="form-control" th:value="${board.id}" name="boardId">
                <input type="submit" id="comment-write-btn" class="btn btn-primary" value="댓글작성">
            </div>
        </form>
    </div>
    <div id="comment-list">
        <table class="table">
            <tr>
                <th>댓글번호</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
<!--                <th>좋아요</th>-->
<!--                <th>싫어요</th>-->
<!--                <th>수정</th>-->
<!--                <th>삭제</th>-->
            </tr>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
                <td th:text="${comment.createdTime}"></td>

<!--                <td>-->
<!--                    <button class="btn-group"><img src="../../static/img/hand-thumbs-up.svg"-->
<!--                                                   th:href="/comment/updateLikes(${comment.id})">-->
<!--                    </button>-->
<!--                    <span th:value="${comment.commentLikes}"></span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <button class="btn-group"><img-->
<!--                            src="../../static/img/hand-thumbs-down.svg"-->
<!--                            th:href="/comment/updateLikes(${comment.id})">-->
<!--                    </button>-->
<!--                    <span th:value="${comment.commentDislikes}"></span>-->
<!--                <td><button type="button" class="btn-outline" th:onclick="commentUpdate(${comment.id})">수정</button></td>-->
<!--                <td><button type="button" class="btn-outline" th:onclick="commentDelete(${comment.commentWriter}, ${comment.id})">삭제</button></td>-->
            </tr>
        </table>
    </div>
</div>
</body>
<script th:inline="javascript">
    const req = (num) => {
        const boardId = [[${board.id}]];
        if (num == "1") {
            location.href = "/board/update-form/" + boardId;
        } else {
            location.href = "/board/delete/" + boardId;
        }
    }

    // // 댓글 수정
    // function commentUpdate(id) {
    //     console.log("함수호출");
    //     console.log(commentWriter);
    //     console.log(id);
    //     console.log('${sessionScope.loginMemberId}');
    //     const loginMemberId = '${sessionScope.loginMemberId}';
    //     if (loginMemberId === commentWriter) {
    //         location.href = '/comment/update?boardId=${board.id}&id=' + id;
    //     } else {
    //         alert("댓글 작성자가 아닙니다.")
    //     }
    // }
    //
    // // 댓글 삭제
    // function commentDelete(commentWriter, id) {
    //     console.log("함수호출");
    //     console.log(commentWriter);
    //     console.log(id);
    //     console.log('${sessionScope.loginMemberId}');
    //     const loginMemberId = '${sessionScope.loginMemberId}';
    //     if (loginMemberId === commentWriter) {
    //         location.href = '/comment/delete?boardId=${board.id}&id=' + id;
    //     } else {
    //         alert("댓글 작성자가 아닙니다.")
    //     }
    // }
</script>
</html>